{% extends "::base.html.twig" %}

{% block title %}Jean Dupont{% endblock %}

{% block body %}
<h1>Jean Dupont</h1>
<p>Email : jdupont@societe.com</p>
<p>Téléphone : 01 34 56 32 63</p>
{% endblock %}
