{% extends "::base.html.twig" %}

{% block title %}Détails de la société {{societe.nom}}{% endblock %}

{% block body %}
<h1>Détails de la société {{societe.nom}}</h1>

{% if societe.siteWeb %}
<p>Site web : {{societe.siteWeb}}</p>
{% endif %}

{% endblock %}
